body{
    background-image: url("brooke-cagle-g1Kr4Ozfoac-unsplash.jpg");
    background-size: 1920px 1080px;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

button{
    width: 400px;
    height: 80px;
    background: #0c0c0ca9;
    border: none;
    margin-top: 10px;
    font-size: 25px;
    border-radius: 10px;
    cursor: pointer;
    color: #ce1a1ae8;
    transition: 0.4s ease;
}

button:hover{
    background: rgb(170, 27, 27);
    color: rgb(13, 13, 14);
}

button a{
    text-decoration: none;
    color: #000;
    font-weight: bold;
}

h4{
    color:rgb(16, 16, 15);
  	text-align: center;
  	font-family: sans-serif;
  	font-size: 300%;
}

h5{
    color: blanchedalmond;
    text-align: center;
  	font-family: sans-serif;
  	font-size: 400%;
}
h6 {
    font-size: 24px;
    color: #fff;
    text-align: center;
}
form{
    width: 70%;
    margin: 0 auto;
}

label{
    color: white;
    width: 30%;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 100%;
    font-weight: bolder;
}

label,input{
    display: inline-block;
}

label+input {
    width: 30%;
    margin: 0 30% 0 4%;
}

input+input {
    float: right;
  }

form input{
    text-align: center;
    width: 50%;
    border: white;
    text-align: justify;
    padding: 15px 0px 15px 10px;
    margin: 5px 0px;
    border-radius: 2px;
}

form input[type='submit']
{
    color: black;
    background-color: lightskyblue;
    width: 10%;
    padding-left: 0px;
    border: none;
    text-align: center;
    text-transform: capitalize;
    font-weight: 500;
    font-size: 20px;
    border-radius: 2px;
}

.navbar
{
    width: 1200px;
    height: 75px;
    margin: auto;
    text-align: center;
    top: 0%;
}

.icon
{
    width: 200px;
    float: left;
    height: 70px;
}

.logo
{
    color: #ff002baf;
    font-size: 35px;
    font-family: Arial;
    padding-left: 20px;
    float: left;
    padding-top: 10px;
    margin-top: 5px;
    max-height: 80px;
    max-width: 800px;
    border-radius: 10px;
    display: block;
    margin: auto;
}

.menu
{
    width: 400px;
    float: left;
    height: 70px;
}

ul
{
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
}

ul li
{
    list-style: none;
    margin-left: 62px;
    margin-top: 27px;
    font-size: 14px;
}

ul li a
{
    text-decoration: none;
    color: rgb(13, 12, 12);
    font-family: Arial;
    font-weight: bold;
    transition: 0.4s ease-in-out;
}

ul li a:hover
{
    color: black;
}

.search
{
    width: 330px;
    float: left;
    margin-left: 270px;
}

.srch
{
    font-family: 'Times New Roman';
    width: 200px;
    height: 40px;
    background: transparent;
    border: 1px solid black;
    margin-top: 13px;
    color: #fff;
    border-right: none;
    font-size: 16px;
    float: left;
    padding: 10px;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
}

.btnn
{
    width: 240px;
    height: 40px;
    background: black;
    border: none;
    margin-top: 30px;
    font-size: 18px;
    border-radius: 10px;
    cursor: pointer;
    color: #000000e8;
    transition: 0.4s ease;
}
.btnn:hover
{
    background: #e9cc28a9;
    color: #0c0c0be8;
}
.btnn a{
    text-decoration: none;
    color: #000;
    font-weight: bold;
}

p{
    color:rgb(31, 147, 193);
    text-align:center;
  	font-family:'Times New Roman', Times, serif;
  	font-size: 150%;
}

h3{
    color: rgb(8, 9, 10);
    text-align: center;
  	font-family:Arial, Helvetica, sans-serif;
  	font-size: 220%;
}



pre{
    color:rgb(5, 59, 121);
    font-weight: bold;
    text-align: center;
  	font-family:'Times New Roman', Times, serif;
  	font-size: 200%;
}

.aboutback{
    background-image: url("about.jpg");
    background-size: 1920px 1080px;
    background-repeat: no-repeat;
    background-attachment: fixed;
}